.DS_Store
Thumbs.db
.vscode/
.idea/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
dist/
build/
/.cache
/.parcel-cache
/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
tanuki-quiz-rust/target/
target/
**/target/
**/dist/
.DS_Store*
/.history/
.pytest_cache/
coverage/
coverage/*
*.tgz
/.sass-cache
*.log
